## LA Metro API

Do all of the imports and initialize variables

In [1]:
from la_metro import LAMetro
import pandas as pd
import datetime
import timeit
import time
import numpy as np

client = LAMetro()

template_df = pd.DataFrame(columns = ['grouped time', 'actual time', 'last report', 'id', 'route', 'latitude', 'longitude', 'run'])

df = template_df #restore df

count = 0

df

Empty DataFrame
Columns: [grouped time, actual time, last report, id, route, latitude, longitude, run]
Index: []

I will begin to grab the data

Here are things to note:
    - A timer is created at the beginning to time the function
    
    - I create a temp_df which will hold all of the bus data
    
    - I set a secondary timer to run the while loop for whatever duration I choose
    
    - The while loop begins
    
    - I will try to get all of the bus data from the API, but if it doesn't I except with
      an empty list
      
    - Then I get the current time (which will make it easier to visualize),
      so I won't have to track every bus and update them accordingly
    
    - I grab the data with a try and except for most variables
    
    - Create a tuple from the data and append it to the temp_df
    
    - Once the time is up, then I append the temp_df to the regular df
    
    - I stop the timer and print the duration
    
    - I show what is being held in the df

In [2]:
temp_df = template_df

#Your statements here

t_end = time.time() + (60 * 60 * 2) # <--- seconds * minutes * hours

print ("This will end at: ", time.asctime( time.localtime(t_end) ))

count = 0

while time.time() < t_end:
    
    print(len(temp_df))
    
    count = count + 1
    print('\n', "count: ", count)
    
    try:
        all_buses = client.bus.vehicles.all()
        print('\n', "num buses: ", len(all_buses))
    except:
        all_buses = []
        print('\n', "error")
    
    group_time = datetime.datetime.now()
    for bus in all_buses: #if error, then this loop will skip
        
        try:
            last_report = bus.seconds_since_report
        except:
            last_report = np.nan
        
        try:
            bus_id = bus.id
        except:
            bus_id = np.nan
        
        try:
            route = bus.route
        except:
            route = np.nan
        
        try:
            latitude = bus.latitude
        except:
            latitude = np.nan
        
        try:
            longitude = bus.longitude
        except:
            longitude = np.nan
        
        try:
            run = bus.run.name
        except:
            run = "none"
        
        new_bus = {'grouped time': group_time,
                   'actual time' : datetime.datetime.now(),
                   'last report' : last_report,
                   'id' : bus_id,
                   'route' : route,
                   'latitude' : latitude,
                   'longitude' : longitude,
                   'run' : run}
                   
                   
        #append row to the dataframe
        temp_df = temp_df.append(new_bus, ignore_index=True)
        
df = df.append(temp_df, ignore_index = True)

print("num iterations: ", count)

df

This will end at:  Sat Jul 18 23:30:44 2020
0

 count:  1

 num buses:  322
322

 count:  2

 num buses:  323
645

 count:  3

 num buses:  316
961

 count:  4

 num buses:  312
1273

 count:  5

 num buses:  308
1581

 count:  6

 num buses:  311
1892

 count:  7

 num buses:  302
2194

 count:  8

 num buses:  299
2493

 count:  9

 num buses:  297
2790

 count:  10

 num buses:  295
3085

 count:  11

 num buses:  304
3389

 count:  12

 num buses:  296
3685

 count:  13

 num buses:  307
3992

 count:  14

 num buses:  299
4291

 count:  15

 num buses:  298
4589

 count:  16

 num buses:  301
4890

 count:  17

 num buses:  294
5184

 count:  18

 num buses:  295
5479

 count:  19

 num buses:  293
5772

 count:  20

 num buses:  287
6059

 count:  21

 num buses:  294
6353

 count:  22

 num buses:  294
6647

 count:  23

 num buses:  290
6937

 count:  24

 num buses:  291
7228

 count:  25

 num buses:  282
7510

 count:  26

 num buses:  281
7791

 count:  27

 num buses:  289
8080

 count:  28

 num buses:  289
8369

 count:  29

 num buses:  288
8657

 count:  30

 num buses:  286
8943

 count:  31

 num buses:  282
9225

 count:  32

 num buses:  282
9507

 count:  33

 num buses:  280
9787

 count:  34

 num buses:  279
10066

 count:  35

 num buses:  277
10343

 count:  36

 num buses:  279
10622

 count:  37

 num buses:  282
10904

 count:  38

 num buses:  270
11174

 count:  39

 num buses:  273
11447

 count:  40

 num buses:  278
11725

 count:  41

 num buses:  278
12003

 count:  42

 num buses:  281
12284

 count:  43

 num buses:  276
12560

 count:  44

 num buses:  271
12831

 count:  45

 num buses:  268
13099

 count:  46

 num buses:  266
13365

 count:  47

 num buses:  273
13638

 count:  48

 num buses:  271
13909

 count:  49

 num buses:  268
14177

 count:  50

 num buses:  277
14454

 count:  51

 num buses:  271
14725

 count:  52

 num buses:  267
14992

 count:  53

 num buses:  266
15258

 count:  54

 num buses:  261
15519

 count:  55

 num buses:  257
15776

 count:  56

 num buses:  258
16034

 count:  57

 num buses:  257
16291

 count:  58

 num buses:  257
16548

 count:  59

 num buses:  257
16805

 count:  60

 num buses:  253
17058

 count:  61

 num buses:  257
17315

 count:  62

 num buses:  256
17571

 count:  63

 num buses:  253
17824

 count:  64

 num buses:  260
18084

 count:  65

 num buses:  256
18340

 count:  66

 num buses:  253
18593

 count:  67

 num buses:  252
18845

 count:  68

 num buses:  257
19102

 count:  69

 num buses:  256
19358

 count:  70

 num buses:  252
19610

 count:  71

 num buses:  255
19865

 count:  72

 num buses:  250
20115

 count:  73

 num buses:  250
20365

 count:  74

 num buses:  249
20614

 count:  75

 num buses:  242
20856

 count:  76

 num buses:  245
21101

 count:  77

 num buses:  240
21341

 count:  78

 num buses:  246
21587

 count:  79

 num buses:  240
21827

 count:  80

 num buses:  242
22069

 count:  81

 num buses:  245
22314

 count:  82

 num buses:  238
22552

 count:  83

 num buses:  236
22788

 count:  84

 num buses:  238
23026

 count:  85

 num buses:  239
23265

 count:  86

 num buses:  240
23505

 count:  87

 num buses:  228
23733

 count:  88

 num buses:  222
23955

 count:  89

 num buses:  241
24196

 count:  90

 num buses:  237
24433

 count:  91

 num buses:  238
24671

 count:  92

 num buses:  237
24908

 count:  93

 num buses:  239
25147

 count:  94

 num buses:  230
25377

 count:  95

 num buses:  228
25605

 count:  96

 num buses:  222
25827

 count:  97

 num buses:  220
26047

 count:  98

 num buses:  226
26273

 count:  99

 num buses:  228
26501

 count:  100

 num buses:  224
26725

 count:  101

 num buses:  221
26946

 count:  102

 num buses:  223
27169

 count:  103

 num buses:  219
27388

 count:  104

 num buses:  225
27613

 count:  105

 num buses:  223
27836

 count:  106

 num buses:  227
28063

 count:  107

 num buses:  229
28292

 count:  108

 num buses:  227
28519

 count:  109

 num buses:  221
28740

 count:  110

 num buses:  220
28960

 count:  111

 num buses:  223
29183

 count:  112

 num buses:  222
29405

 count:  113

 num buses:  222
29627

 count:  114

 num buses:  218
29845

 count:  115

 num buses:  217
30062

 count:  116

 num buses:  212
num iterations:  116

,grouped time,actual time,last report,id,route,latitude,longitude,run
0,2020-07-18 21:30:44.785666,2020-07-18 21:30:44.988863,285,9532,720,34.023880,-118.185196,East to Metro Rapid - Commerce Center
1,2020-07-18 21:30:44.785666,2020-07-18 21:30:45.218896,22,9413,207,33.959128,-118.308941,North to Hollywood
2,2020-07-18 21:30:44.785666,2020-07-18 21:30:45.428961,22,5877,94,34.279370,-118.436305,South to Silver Line - San Pedro Via Downtown LA
3,2020-07-18 21:30:44.785666,2020-07-18 21:30:45.619974,22,3918,53,33.913893,-118.254503,South to CAL State Dominguez Hls
4,2020-07-18 21:30:44.785666,2020-07-18 21:30:45.818273,127,8604,206,33.945202,-118.300217,North to Vermont-Hollywood
...,...,...,...,...,...,...,...,...
30269,2020-07-18 23:30:09.283635,2020-07-18 23:30:54.130090,35,8256,152,34.216984,-118.623566,West to Woodland Hills
30270,2020-07-18 23:30:09.283635,2020-07-18 23:30:54.330388,166,6065,70,34.067303,-118.042549,West to Downtown LA - Broadway-Venice
30271,2020-07-18 23:30:09.283635,2020-07-18 23:30:54.566568,35,6060,60,34.027512,-118.229904,North to Downtown LA - Sunset- Figueroa
30272,2020-07-18 23:30:09.283635,2020-07-18 23:30:54.773088,35,4112,150,34.187199,-118.536104,East to Universal/Studio City Sta
30273,2020-07-18 23:30:09.283635,2020-07-18 23:30:54.971352,166,1716,460,33.902550,-118.048683,West to Downtown LA - 6th-Los Angeles

The dftypes are below

In [94]:
df.dtypes

time           datetime64[ns]
last report            object
id                     object
route                  object
latitude              float64
longitude             float64
run                    object
dtype: object

Below are two different code blocks:
    1. The first one will create a new csv (headers and no index)
    2. The second will append to the csv (append mode, no headers, no index)

In [8]:
#Create new csv file

df.to_csv('LAMetro_bus_data.csv', header=True, index=False)

In [3]:
#Append to csv file

df.to_csv('LAMetro_bus_data.csv', mode='a', header=False, index=False)